In [10]:
import pandas as pd
import chardet
import numpy as np
def open_file(path):
    # open the path with automatic encoding
    with open(path, 'rb') as file:
        encoding = chardet.detect(file.read())
    
    return pd.read_csv(path, encoding=encoding['encoding'])
df = open_file("../Datos/FrutasTrain.csv")

df

    Diametro  Color    Clase
0         10    200  Naranja
1         20     30    Melon
2          8    150  Naranja
3         26     30    Melon
4          7    170  Naranja
5         24     32    Melon
6         20    170  Naranja
7         21    160    Melon
8         21    180  Naranja
9         23    160    Melon
10        22    190  Naranja
11        23    190    Melon
12        24    250  Naranja
13        15     31    Melon
14        15    250  Naranja
15        19     31    Melon

In [35]:

from sklearn import model_selection,preprocessing
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['Diametro', 'Color']] = scaler.fit_transform(df[['Diametro', 'Color']])



W_Diametro = 2.3944
W_Color = -2.3891
b = -0.06368

# Crear una función para clasificar los valores
def clasificar(valor):
    if valor >= 0.8:
        return 1
    elif valor <= -0.8:
        return -1
    else:
        return 0  # Definido como "indefinido" en el rango (-0.8, 0.8)

# Calcular la salida y clasificar los ejemplos
df['Salida'] = df['Diametro'] * W_Diametro + df['Color'] * W_Color + b
df['Clasificacion'] = df['Salida'].apply(clasificar)

# Contar cuántos ejemplos están clasificados como "indefinidos" (0)
indefinidos = df[df['Clasificacion'] == 0]
cantidad_indefinidos = len(indefinidos)

print("Cantidad de ejemplos clasificados como 'indefinidos':", cantidad_indefinidos)
df

Cantidad de ejemplos clasificados como 'indefinidos': 7

    Diametro     Color    Clase    Salida  Clasificacion
0   0.157895  0.772727  Naranja -1.531740             -1
1   0.684211  0.000000    Melón  1.574594              1
2   0.052632  0.545455  Naranja -1.240804             -1
3   1.000000  0.000000    Melón  2.330720              1
4   0.000000  0.636364  Naranja -1.584016             -1
5   0.894737  0.009091    Melón  2.056959              1
6   0.684211  0.636364  Naranja  0.054257              0
7   0.736842  0.590909    Melón  0.288874              0
8   0.736842  0.681818  Naranja  0.071683              0
9   0.842105  0.590909    Melón  0.540916              0
10  0.789474  0.727273  Naranja  0.089109              0
11  0.842105  0.727273    Melón  0.215130              0
12  0.894737  1.000000  Naranja -0.310422              0
13  0.421053  0.004545    Melón  0.933629              1
14  0.421053  1.000000  Naranja -1.444612             -1
15  0.631579  0.004545    Melón  1.437713              1

In [30]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Datos de entrada
data = {
    'Diametro': [10, 20, 8, 26, 7, 24, 20, 21, 21, 23, 22, 23, 24, 15, 15, 19],
    'Color': [200, 30, 150, 30, 170, 32, 170, 160, 180, 160, 190, 190, 250, 31, 250, 31],
    'Clase': ['Naranja', 'Melón', 'Naranja', 'Melón', 'Naranja', 'Melón', 'Naranja', 'Melón',
              'Naranja', 'Melón', 'Naranja', 'Melón', 'Naranja', 'Melón', 'Naranja', 'Melón']
}

# # Crear DataFrame
data = pd.DataFrame(data)

# # Normalizar las características
scaler = MinMaxScaler()
data[['Diametro', 'Color']] = scaler.fit_transform(data[['Diametro', 'Color']])

# # Ponderaciones y sesgo
W_Diametro = 2.3944
W_Color = -2.3891
b = -0.06368

# # Función para clasificar
def clasificar(valor):
    if valor >= 0.8:
        return 1
    elif valor <= -0.8:
        return -1
    else:
        return 0  # Definido como "indefinido" en el rango (-0.8, 0.8)

# # Calcular la salida y clasificar los ejemplos
data['Salida'] = data['Diametro'] * W_Diametro + data['Color'] * W_Color + b
data['Clasificacion'] = data['Salida'].apply(clasificar)
# # print(dfdata
# # Datos de una fruta nueva
diametro_nueva = 10
color_nueva = 200


# Normalizar los valores de la fruta nueva
diametro_nueva_norm = scaler.fit_transform([[diametro_nueva, color_nueva]])[0]
# nueva_observacion = [[diametro_nueva, color_nueva]]
# nueva_observacion_df = pd.DataFrame(nueva_observacion, columns=df.columns)  # Asegúrate de que las columnas coincidan
# diametro_nueva_norm = scaler.transform(nueva_observacion_df)[0]

# # # Calcular la salida de la neurona para la fruta nueva
salida_nueva = diametro_nueva_norm[0] * W_Diametro + diametro_nueva_norm[1] * W_Color + b

# # Clasificar la fruta nueva
clasificacion_nueva = clasificar(salida_nueva)

# Imprimir la clasificación de la fruta nueva
if clasificacion_nueva == 1:
    print("Naranja")
elif clasificacion_nueva == -1:
    print("Melón")
else:
    print("Indefinido")

Indefinido